 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* height: 78px; */
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(109, 174, 146);
} */

  .top-menu-bar {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(45deg, rgba(73, 163, 242, 1) 0%, rgb(24, 140, 255) 100%); */
    background: linear-gradient(30deg, 
              rgb(115, 197, 255) 0%, 
              rgb(255, 255, 255) 30%, 
              rgba(65, 171, 216, 0.8) 100%);;

    color: white;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* transform: skewY(-5deg); /* Added skew for 3D effect */
    
  }

  .logo-size{
    height: 78px;
    width: 155px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
/* Style for menu items */
.nav-item {
    position: relative;
    font-size: 1.1em;
    /* color: white; */
    text-decoration: none;
    padding: 6px 20px;
    transition: color 0.5s;
  }
  
  /* Style for hover effect */
  .nav-item:hover {
    color: #6bb2ec;
  }
  
  /* Style for the underline effect */
  .nav-item::after {
    /* content: ''; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 40%;
    border-radius: 5px;
    transform: scale(0) translateY(50px);
    transition: .5s;
    opacity: 0;
  }
  
  .nav-item:hover::after {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  .nav-item h1{
    position: relative;
    /* font-size: 14vw; */
    color: rgb(23, 141, 210);
    /* -webkit-text-stroke: 0.3vw #383d52; */
    /* text-transform: uppercase; */

  }

  .nav-item h1::before{
    content: attr(data-text);
    position: absolute;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    color: #01fe87;
    -webkit-text-stroke: 0vw rgb(36, 126, 196);
    border-right: 0 solid #01fe87;
    overflow: hidden;
    animation: animate 5s linear infinite;
  }
  @keyframes animate {
    0%, 10%, 100% {
      width: 0;
    }
    70%, 90% {
      width: 100%;
    }
  }
  

