.app-container {
    display: flex;
  }

  
  .left-menu {
    flex: 0 0 200px; /* Set a fixed width for the left menu */
  }
  
  .menu-bar {
    border-right: none; /* Remove border on the right side */
  }
  
  .scheduler-container {
    flex: 1; /* Let the scheduler container occupy remaining space */
    padding: 1px;
  }
  
  

  